---
const { authorData } = Astro.props;
---


    <div class="flex items-center mt-4">
        {authorData.image && 
            <img src={authorData.image} alt={authorData.name} class="w-16 h-16 rounded-full object-cover mr-4" />
        }
        <div>
            <h3 class="text-md font-semibold text-pacamara-dark dark:text-white">{authorData.name}</h3>
            <p class="text-sm text-pacamara-primary dark:text-gray-400">{authorData.bio}</p>
            <p class="text-sm text-pacamara-accent dark:text-gray-300">{authorData.contact}</p>
            <p>{authorData.location}</p>
        </div>
    </div>
</div>
