---
const { farmerData, num } = Astro.props;
import { Image } from 'astro:assets';
import defaultImage from "../../assets/default.jpg"; // Image par défaut

console.log("Farmer Data:", farmerData); // Log pour déboguer

// Fallback pour le slug
const slug = farmerData.slug || 'default-slug';

---
<article class="
    group
    lg:mb-[50px] mb-10 last:mb-0 prose lg:prose-xl max-w-none 
    prose-headings:font-bold prose-headings:text-pacamara-accent 
    prose-p:text-pacamara-primary/70 lg:prose-p:text-[18px] prose-p:transition-all prose-p:duration-300 
    prose-a:font-semibold prose-a:text-pacamara-dark prose-a:hover:text-pacamara-pink prose-a:no-underline prose-a:transition-all prose-a:duration-300
    prose-strong:font-normal 
    prose-headings:font-pacamara-space prose-h2:mb-7 prose-h2:mt-0
    prose-img:mt-0 prose-img:mb-0
    dark:prose-a:text-white dark:prose-a:hover:text-pacamara-accent dark:prose-p:text-white/70
">
    <div class="grid grid-cols-1 lg:grid-cols-[200px_auto] md:grid-cols-[200px_auto] gap-10 items-center">
        <div class="farmer_image">
            <a href={`/ProdOu/farmer/${slug}`}>  {/* Utilisation de slug avec fallback */}
               
                <Image 
                    src={farmerData.data.image ? farmerData.data.image : defaultImage} 
                    width="750" 
                    alt={`${farmerData.title} Thumbnail`} 
                    class:list={[ 
                        'rounded-[15px] image-shine object-cover h-[200px]', 
                        { "rotate-2": num % 2, "-rotate-2": !(num % 2) } 
                    ]}  
                />
            </a>
        </div>
        <div class="farmer_intro">
            <h2>
                <a href={`/ProdOu/farmer/${slug}`} class="text-pacamara-dark hover:text-pacamara-accent"> {/* Utilisation de slug avec fallback */}
                    {farmerData.data.title}
                </a>
            </h2>
            <p>{farmerData.data.intro}</p>
        </div>
    </div>
    <div class="w-full h-[1px] mt-10 lg:mt-[50px] overflow-hidden gradient-line group-last:hidden"></div>
</article>
